[Desktop Entry]
Type=Application
Name=Conky Customized
Icon=conky
Exec=/usr/bin/conky --daemonize --pause=10 -c "/home/javid/.config/conky/config.conkyrc"
StartupNotify=false
Terminal=false
